.App {
  font-family: sans-serif;
  text-align: center;
}
button {
  margin: 5px;
  color: yellow;
  background-color: black;
  border: 2px solid yellow;
  width: 20vw;
  height: 6vh;
  border-radius: 8px;
}
button:hover {
  color: black;
  background-color: yellow;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 15px;
}
h2,
h1 {
  color: rgb(10, 10, 177);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
